// color
$black: #000;
$white: #fff;
$gray: #858585;

$medium-black: #343434;
$medium-white: #f9f9f9;

$light-black: #222;
$light-white: #ededed;
$light-gray: #d2d2d2;

$purple: #f0f993;
$red: #ff5858;



// 이렇게 -lm, -dm 로 나누는 것이..?
$card-lm: #e2e2e2;
$card-dm: #7b7b7b;

$box-shadow-lm: #e7e7e7;
$box-shadow-dm: #000;
