// size
$min-width: 1140px;
$content-width: 1440px;

// color
$black: #000;
$white: #fff;

// main color
$main-black: #222;
$main-gray: #858585;
$main-light-gray: #ededed;
$main-purple: #8652ff;


// z-index
$z-index-minus: -1;
$z-index-zero: 0;
$z-index-min: 1;

$header-menu-z-index: 10;
$header-title-z-index: 10;

$layer-z-index: 20;
$toast-z-index: 10;


