header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: $header-menu-z-index;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  box-shadow: 0 -5px 10px 1px #ddd;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

    ul {
    }

    li {
      display: inline-block;

    }
  }
}
