.my_pokemon {
  &_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  &_item {
    display: inline-block;
    position: relative;
    aspect-ratio: 1 / 1;
    padding: 20px;
    background-color: var(--color-card);
    text-align: center;
    cursor: pointer;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &_name {
    margin-top: 10px;
  }

  &_no_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0;
    color: $light-gray;
    font-size: 36px;
    text-align: center;
  }
}

.img {
  width: 100%;

  &_box {
    width: 300px;
  }

  &_info {
    flex: 1 0 auto;
  }
}

.utils {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  &_wrap {
    display: none;
  }
}
