.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  inset: 0;

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  &_inner {
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 20px;
  }

  .close {
    &_btn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    &_icon {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: var(--color-light-black);
        content: '';
      }

      &::after {
        transform: translateX(-50%) rotate(45deg);
      }

      &::before {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: var(--color-light-white);
    color: var(--color-light-black);
    font-size: 16px;
    text-align: center;

    strong {
      font-size: 20px;
    }
  }
}
