.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  margin-top: 80px;
  padding: 20px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #dbdce0;
  border-radius: 10px;
  border-radius: 8px;
  background-color: var(--color-medium-white);
  color: inherit;
  font-size: 16px;
}

.img {
  display: block;
  width: 100%;
  height: -webkit-fill-available;

  &_wrap {
  }

  &_box {
    display: flex;
    position: relative;
    width: 180px;
    height: 180px;
    padding: 20px;
  }

  &_sub {
    &:first-of-type {
      width: 60px;

    }

    &:last-child {
      width: 40px;

    }
  }
}

.id {
  display: block;
  margin-top: 15px;
  color: #a6a6a6;
  font-size: 22px;
}

.attr {
  // @include ellipsis(2);
  flex: 1;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.desc {
  width: 100%;
  padding: 20px;
}

.stats_chart {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
