.sprite {
  &_list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-evenly;
  }

  &_item {
    p {
      font-size: 22px;
    }

    &.is_shaking {
      img {
        animation: shaking 0.1s linear infinite;
      }
    }

    &.is_fading {
      img {
        opacity: 0;
        transition: opacity 2s ease-in-out;
      }
    }
  }

  &_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

    img {
      width: 70%;
      height: auto;
    }
  }
}
